<!DOCTYPE html>
<html lang="ar", dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🌦️الجو اليوم</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>
</head>

<body>
    <div class="container">
        <h1>🌤️ توقعات الطقس في بريدة</h1>
        <p class="temp">درجة الحرارة الحالية: <strong>{{ current_temp }}°C</strong></p>
        <p>الإحساس الحراري المتوقع: <strong>{{ feels_like }}°C</strong></p>
        <p>💡 نصيحة الملابس: <strong>{{ recommendation }}</strong></p>
    </div>
</body>
</html>
